:root {
  --main-theme-color: #007F4E;
  --alert-color: #7F0031;
  --h1-font: 'Josefin Sans', sans-serif;
  --text-font: 'Dosis', sans-serif;
  --h1-size: calc(1.5rem + 1.5vw);
  --h2-size: calc(1.8rem);
  --h3-size: calc(1.2rem);
  --text-size: calc(1.2rem);
}

body {
  margin: 0;
  font-family: var(--text-font);
  font-size:var(--text-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: var(--main-theme-color);
  font-family: var(--h1-font);
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
  margin: 0;
}

a {
  color: var(--main-theme-color);
}

p {
  margin: 0;
}

form {
    display:flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

label {
  font-weight: bold;
}

input {
  border:none;
  border-radius: 10px;
  box-shadow: 0px 0px 6px #ddd;
  padding: 10px;
}

input:focus {
  border-color: var(--main-theme-color);
}

button {
  background-color: var(--main-theme-color);
  border: none;
  box-shadow: 0px 0px 6px #ddd;
  border-radius: 10px;
  padding: 15px;
  width: fit-content;
  height: 50px;
  align-self: center;
  color: white;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


