.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 25px 10px 0 10px;
    width: 1200px;
}

.menuItem {
    margin: 0 0 0 10px;
    font-size: calc(1.5rem + 0.5vw);
}

