.footerContainer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 2px solid var(--main-theme-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}