.editProfileHeading {
    margin: 0 auto;
    padding: 40px 0 0 20px;
    max-width: 1200px;

}

.editProfileForm {
    padding: 20px;
}

.heading {
    margin-bottom: 5px;
}

.inputContainer {
    position:relative;
    display: flex;
    flex-direction: column;
    margin: 40px 0 10px 0;
}

.errorMessage {
    position: absolute;
    top: 67px;
    font-weight: bold;
    color: var(--alert-color);
}

textarea {
    height: 100px;
}

.venueManagerContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: end;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.editProfileButton {
    margin-top: 30px;
    width: 200px;
}

.cancelEditProfileButton {
    background-color: transparent;
    border: 2px solid var(--alert-color);
    color: black;
    font-weight: bold;
    width: 200px;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modalCloseButton {
    margin-top: 30px;
    width: 100px;
}