.venueContentContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.loadingMessage {
    margin: 0 auto;
    padding-top: 100px;
    font-weight: bold;
}

.errorMessage {
    margin: 0 auto;
    padding-top: 100px;
    color: var(--alert-color);
    font-weight: bold;
}

.venueContent {
  width: 100%;
  margin: 0 auto;
}

.venueHeading {
    margin-bottom: 10px;
    overflow-wrap: break-word;
}

.venueImgContainer {
    height: 40vh;
  }

.venueDescription {
  overflow-wrap: break-word;
}

.venueLocation {
  overflow-wrap: break-word;

}

.venueDescription, 
.venueAddressContainer, 
.venueAmenitiesContainer  {
    margin: 20px 0;
}

.venueBookingButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-theme-color);
    padding: 20px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    width: 80%;
}

.venueManagerName {
  font-weight: bold;
}

@media (width >= 900px) {
  .venueImgContainer {
    height: 40vh;
  }

  .venueBookingButton {
    width: fit-content;
  }

}
